!!! 5

%html
  %title
    - if @channel
      = "#{@channel.gsub(/./, "#")} on #{@date} – "

    irclogger – Freenode IRC logs

  %meta(charset="utf-8")
  %link(rel="stylesheet" href="/styles.css")
  %link(rel="stylesheet" href="/jquery-ui.1.7.custom")

  %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js")
  %script(src="/app.js")
  %script(src="http://www.google.com/jsapi?key=ABQIAAAAxIPe_Hqn9UpeceoqlzxTEhQXPjdTLTrPJWH-F2sc2QUCP_uGzBTD6d_hb1OQjUAGLiLr--aKo38HvA" type="text/javascript")

  %body

    %section#channels

      %section#calendar
        %pre= calendar @channel, @date, @link_calendar

      %ul
        %li(class="#{"current" unless @channel}")
          %a(href="/") Console

        - @channels.each do |channel|
          %li(class="#{"current" if channel.gsub(/#/, ".") == @channel}")
            %a(href="/#{channel.gsub(/#/, '.')}/#{@date || "today"}")= channel

    = yield

    = erb :analytics, :layout => false
